.wrapper {
    position: relative;
    overflow: hidden;
    
   
}

#slide {
    position: absolute;
    left: -100px;
    height: 50%;
    float:right;
    width:50%;
    background: blue;
    transition: 1s;
}

.wrapper:hover #slide {
    transition: 1s;
    right: 0;
}
