.wrapper {
    position: relative;
    overflow: hidden;
    
    
}

#slide {
    position: absolute;
    left: -100px;
    width: 50%;
    height: 50%;
    background: blue;
    transition: 1s;
}

.wrapper:hover #slide {
    transition: 1s;
    left: 0;
}
