
h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 15pt;
}
p {
  font-family: 'Raleway', sans-serif;
  font-size: 8pt;
}
/* menubar */

ul.menubar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #34a8eb;
  position: -webkit-sticky;
  position: sticky;
  top:0;
}
ul.menubar li {float: left;}
ul.menubar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
}
ul.menubar li a:hover {
  background-color: #707371;
  transform: scale() perspective(10px);
  transition: .8s ease;
  font-size: 15pt;
  }
ul.menubar li.right {
  float: right;
}

@media screen and (max-width: 600px) {
  ul.menubar li.right, 
  ul.menubar li {float: none;}
  ul.menubar {position: none;}
  
}
  ul.menubar li.db {
    float: left;
    display: none;
  }

li a:active {
  transform: scale(1);
  transition: 1s;
}
#tip {
  font-family: 'Raleway', sans-serif;
  font-style: italic;
}
#studentsAtAssembly {
  transform: scale(1); 
  transition: 1s ease;
  
}
#studentsAtAssembly:hover {
  transition:1s ease;
  transform: scale(1.1) perspective(10px);
}
#welcome {
  font-size: 48pt; 
}
#logo {
  width: 500px;
  height: 500px;
  transition: 1s ease;
  transform: scale(1);
}
#logo:hover {
  transform: scale(1.1) perspective(10px);
  transition: 1s ease;
}
@media screen and (max-width: 600px) {
  ul li.right, 
  ul li {float: none;}
  ul {position: none;}
  
}
#isblank #_isblank {
  font-size: 15pt;
}
