
h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 15pt;
}
p {
  font-family: 'Raleway', sans-serif;
  font-size: 8pt;
}
/* menubar */

ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #34a8eb;
  width: 100%;
  list-style-type: none;
}
li {
  float: left;
}
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15pt;
  font-family: 'Raleway', sans-serif;
  transition: all 1s;
}

li a:hover {
  background-color: #395c70;
  color: white;
  transform: scale() perspective(10px)
}
li a:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
}
#tip {
  font-family: 'Raleway', sans-serif;
  font-style: italic;
}
#studentsAtAssembly {
  transform: scale(1); 
  transition: 1s ease;
  
}
#studentsAtAssembly:hover {
  transition:1s ease;
  transform: scale(1.1) perspective(10px);
}
#welcome {
  font-size: 48pt; 
}
#logo {
  width: 500px;
  height: 500px;
  transition: 1s ease;
  transform: scale(1);
}
#logo:hover {
  transform: scale(1.1) perspective(10px);
  transition: 1s ease;
}
